@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, #EB5720, lightblue);
}

main.principal {
    background: white url(../imagens/mateus-vesgo.jpeg) no-repeat;
    background-size: cover;
    width: 36vw;
    height: 90vh;
    margin: auto;
}

h1 {
    text-align: center;
    padding: 15px;
    padding-top: 30px;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    padding: 5px;
    font-size: 2em;
}

h3 {
    text-align: center;
    padding: 15px;
    font-size: 1.6em;
} 

p, ul {
    font-size: 1.5em;
    text-align: justify;
    text-indent: 20px;
    padding: 30px;
}

li {
    list-style-type: disc;
    list-style-position: inside;
}

footer {
    background-color: green;
    height: 10vh;
}

footer > p {
    color: pink;
    text-align: center;
    padding: 27.7px;
}

ul > li > a {
    font-size: 1.3em;
    text-decoration: none;
}

ul > li > a:hover {
    text-decoration: underline;
}

/* Infância */

div.infancia {
    background-color: white;
    width: 36vw;
    height: 100vh;
    margin: auto;
}

img.infancia {
    display: block;
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 30px;
}

h1.infancia {
    padding: 30px;
}

p.infancia {
    padding: 30px;
    text-indent: 25px;
}

a.infancia {
    background-color: rgb(255, 0, 0);
    display: block;
    font-size: 2em;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    margin: 50px;
}

a.infancia:hover {
    background-color: white;
    color: white;
}

div.trabalha {
    background-color: white;
    width: 36vw;
    height: 100vh;
    margin: auto;
}

h1.trabalha {
    padding: 20px;
}

div.imgtrabalha {
    width: 600px;
    margin: auto;
}

p.trabalha {
    padding: 15px;
}

img.trabalha {
    width: 600px;
    height: 400px;
}

div.imgtrabalha2 {
    width: 600px;
    margin: auto;
}

img.trabalha2 {
    width: 600px;
    height: 110px;
}

div.fotos {
    background-color: white;
    width: 36vw;
    height: 100vh;
    margin: auto;
}

h1.fotos {
    text-align: center;
}

div.imgfotos {
    width: 35vw;
}

div.posicionamento {
    text-align: center;
}

img.fotos {
    width: 260px;
    height: 260px;
}

div.casa {
    background-color: white;
    width: 36vw;
    height: 100vh;
    margin: auto;
}

p.casa {
    text-align: justify;
    text-indent: 20px;
    padding: 20px;
}

div.imgcasa {
    width: 650px;
    margin: auto;
}

img.casa {
    width: 650px;
    height: 450px;
}